.algae-info-page {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  & {
    height: auto;
  }

  .algae-info-grid-container {
    animation: fadeIn 1s;
  }

  .algae-info-img {
    position: fixed;
    z-index: -1000;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    mask-image: linear-gradient(to bottom, transparent 8%, black);
    top: 0;
    left: 0;
  }

  .algae-info-title {
    color: #124116;
    font-size: 40px;
    margin-top: 60px;
    text-align: center;
    font-weight: bold;
  }

  .algae-info-grid {
    width: 70vw;
    height: 200px;
    margin: 30px auto;
    display: grid;
    gap: 30px 30px;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }
}

.algae-info-img-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
}