.algae-info-page {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  & {
    height: auto;
  }

  .algae-info-grid-container {
    animation: fadeIn 0.5s;
  }

  .algae-info-img {
    position: fixed;
    z-index: -1000;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    mask-image: linear-gradient(to bottom, transparent 8%, black);
    top: 0;
    left: 0;
  }

  .algae-info-title {
    color: #124116;
    font-size: 40px;
    margin-top: 60px;
    text-align: center;
    font-weight: bold;
  }

  .algae-info-grid {
    width: 70vw;
    height: auto;
    margin: 30px auto;
    display: grid;
    gap: 10px 10px;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    background-color: rgba(0, 40, 21, 0.6);
    border-radius: 10px;
    padding: 10px 18px 10px 0;
  }

  footer {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: 40px;
  }

  footer small {
    background-color: rgba(0, 40, 21, 0.6);
    border-radius: 500px;
    padding: 8px 15px 8px 15px;
  }
}

.algae-info-img-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
}