.home-page {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  & {
    width: 100%;
    height: auto;
    animation: fadeIn 0.5s;
  }

  .home-img {
    position: fixed;
    z-index: -1000;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    mask-image: linear-gradient(to bottom, transparent 10%, black);
    top: 0;
    left: 0;
  }

  .product-grid {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
  }
}

.home-img-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
}