.material-container {
  & {
    height: auto;
    width: auto;
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .img-container {
    display: flex;
    align-items: center;
    padding: 0 5px 0 5px;
    margin-bottom: 10px;
  }

  img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #eeeeee;
  }

  .info-container {
    width: 100%;
    display: flex;
    align-items: center;
    word-wrap: break-word;
  }

  .name-description-container {
    width: 100%;
    color: black;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .content-container {
    width: 100%;
    color: black;
    font-size: 16px;
    font-weight: 500;
  }
}